$light-dark: rgb(50, 50, 50);
$tint-color: rgb(254, 134, 36);
$lighter-gray: rgb(214, 214, 214);
$lightest-gray: rgb(246, 246, 246);
$red: rgb(222, 41, 41);

*, html, body, div, main, ul, li, input, p, span, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea {
  font-size: 1rem;
  outline: none;
  padding: 5px 5px;
  transition: padding 0.5s;
  border: 1px solid $lighter-gray;
  margin-bottom: 5px;
  border-radius: 3px;
  &:read-only {
    border: 1px solid #fff;
  }
}

input[type="button"] {
  background: $lighter-gray;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  &.active {
    background: $tint-color;
  }
  &.delete {
    background: $red;
  }
}

.app {
  display: flex
}

.dashboard {
  display: flex;
  flex-direction: row;
  .title {
    display: flex;
    justify-content: space-between;
  }
}

.return {
  width: 30px;
  height: 30px;
  background: url('./img/back.png');
  background-size: cover;
  margin-left: -15px;
}

header {
  -webkit-app-region: drag;
  height: 100vh;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 5px 10px;
  color: rgb(255, 255, 255);
  background: #fff;
  align-items: center;
  border-right: 1px solid $lighter-gray;
  flex-shrink: 0;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      list-style: none;
    }
  }
}

.actions {
  a {
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  li {
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 10px;
  }
  > li {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .logo {margin-bottom: 40px; position: relative; opacity: 1 }
  .exit { background-image: url('./img/exit.png'); }
  .settings { background-image: url('./img/settings.png'); }
  .add { background-image: url('./img/add.png'); }
  .add-hero { background-image: url('./img/add-hero.png'); }
  .dashboard { background-image: url('./img/dashboard.png'); }
}

.logo {
  background-image: url('./img/logo.svg');
  background-size: cover;
}


.login {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  .logo {
    width: 60px;
    height: 60px;
    margin-bottom: 200px;
  }
  input[type="text"],input[type="password"] {
    background: $lightest-gray;
    border: none;
    border-radius: 3px;
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
  }
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  //Direct children
  > .title {
    -webkit-app-region: drag;
    user-drag: none;
    user-select: none;
    position: relative;
    font-size: 1.8rem;
    padding: 15px 20px;
    color: $light-dark;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid $lighter-gray;
    div {
      margin-right: 10px;
    }
    .search-wrapper {
      position: relative;
      height: 32px;
      width: 250px;
      overflow: hidden;
      margin-right: 0;
      .search {
        cursor: pointer;
        width: 32px;
        height: 32px;
        background-size: 30px;
        cursor: pointer;
        background: url(./img/search.png) no-repeat center center;
        background-size: 30px;
        margin-right: 0;
        margin-left: auto;
        transition: 0.4s ;
        transition-timing-function: ease;
        &.active {
          transform: translateX(-200px);
        }
      }
      .search-input {
        transform: translateX(100%);
        margin-right: 0;
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        transition: 0.4s;
        transition-timing-function: ease;
        &.active {
          transform: translateX(0);
        }
      }
    }

  }
}

.form-element {
  margin: 5px 0;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.article-detail {
  .content {
    background: #fff;
    width: 100%;
    flex-grow: 1;
    border-radius: 5px;
    overflow: scroll;
    .loading {
      width: 30px;
      height: 30px;
      &.hidden {
        display: none;
      }
    }
    textarea {
      display: block;
      width: 100%;
      height: 200px;
      line-height: 1.25;
      color: $light-dark;
      &.body {
        margin-top: 15px;
      }
    }
    input {
      display: block;
      &.title {
        font-size: 1.9rem;
        font-weight: 500;
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      input[type="button"] {
        padding: 6px 12px;
        width: auto;
        display: inline-block;
        margin-left: 10px;
        &.hidden {
          display: none;
        }
      }
    }
    .more-images {
      padding: 30px 0 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      .edit {
        position: relative;
        .delete-button {
          top: -12px;
          right: -2px;
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #fff;
          background: rgb(223, 55, 38);
          background-image: url('./img/delete-icon.png');
          background-size: 20px;
          background-position: center;
          background-repeat: none;
          cursor: pointer;
          transition: transform 0.5s;
          animation: popAnimation 0.5s;
          &:hover {
            transform: scale(1.15,1.15);
          }
        }
      }
      .add-more {
        cursor: pointer;
        background: rgb(217, 217, 217);
        border: 1px solid rgb(204, 204, 204);
        background-image: url('./img/image-icon.png');
        background-repeat: no-repeat;
        background-position: center 25px;
        background-size: 40px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        transition: background-size 0.5s;
        position: relative;
        label {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          padding-top: 65px;
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
        input {
          display: none;
        }
        &:hover {
          background: rgb(190, 190, 190);
          background-image: url('./img/image-icon.png');
          background-repeat: no-repeat;
          background-position: center 25px;
          background-size: 40px;
        }
      }
      img, .add-more {
        margin: 0 10px;
        flex-shrink: 0;
        border-radius: 3px;
        overflow: hidden;
        width: 200px;
        height: 120px;
        margin-bottom: 20px;
      }
    }
    .hero {
      position: relative;
      margin-bottom: 10px;
      .title {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      input[type="file"] {
        display: none;
        z-index: 120;
      }
      .hero-label {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        border-radius: 3px;
        overflow: hidden;
        &:hover::before, &.editable::before {
          background: rgba(#000,.5);
          width: 200px;
          height: 18px;
          border-radius: 3px;
          border: 1px solid #fff;
          content: 'Cambiar imagen de portada';
          padding: 5px 10px;
          padding-left: 35px;
          background-image: url('./img/image-icon.png');
          background-repeat: no-repeat;
          background-size: 20px;
          background-position: 10px center;
          color: #fff;
          z-index: 100;
          position: absolute;
          bottom: 10px;
          left: 10px;
          animation: popAnimation 0.5s;
        }
      }
    }
  }
}

.content {
  padding: 20px;
}

.articles {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  height: 100%;
  align-content: flex-start;
  .article {
    cursor: pointer;
    margin: 10px;
    max-height: 190px;
    display: block;
    width: 240px;
    background: rgb(255, 255, 255);
    border: 1px solid #efefef;
    border-radius: 3px;
    overflow: hidden;
    .image {
      width: 100%;
      height: 90px;
      background: rgb(181, 181, 181);
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        position: absolute;
      }
    }
    .content {
      padding: 10px;
      .title-header {
        display: flex;
        margin-bottom: 10px;
        .title {
          font-weight: 600;
          flex-shrink: 0;
          text-overflow: ellipsis;
        }
        .types {
          text-align: right;
          flex-grow: 1;
          flex-shrink: 0;
          span {
            font-size: 0.65rem;
            font-weight: 500;
            padding: 2px 4px;
            background: $lighter-gray;
            border-radius: 2px;
            margin-left: 3px;
            color: #fff;
          }
        }
      }

      .body {
        margin-top: 5px;
        font-size: 0.8rem;
        color: #323232;
        height: 45px;
        overflow: hidden;
      }
    }
  }
}

@keyframes popAnimation {
  0% {
    transform: scale(0.95,0.95);
  }
  50% {
    transform: scale(1.06,1.06);
  }
  100% {
    transform: scale(1.0,1.0);
  }
}
